@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;300;400;600;700&family=Roboto&display=swap');

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?fviqtv');
  src:  url('./fonts/icomoon.eot?fviqtv#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?fviqtv') format('truetype'),
    url('./fonts/icomoon.woff?fviqtv') format('woff'),
    url('./fonts/icomoon.svg?fviqtv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'extra';
  src:  url('./fonts/extra.eot?7zsq12');
  src:  url('./fonts/extra.eot?7zsq12#iefix') format('embedded-opentype'),
    url('./fonts/extra.ttf?7zsq12') format('truetype'),
    url('./fonts/extra.woff?7zsq12') format('woff'),
    url('./fonts/extra.svg?7zsq12#extra') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="extra-"], [class*=" extra-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'extra' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e901";
}
.icon-download:before {
  content: "\e944";
}
.icon-star:before {
  content: "\f005";
}
.icon-github:before {
  content: "\f09b";
}
.icon-youtube-play:before {
  content: "\f16a";
  color: #f00;
}
.icon-medium:before {
  content: "\f23a";
}
.icon-instagram:before {
  content: "\e900";
  color: #fff;
}
.icon-twitter:before {
  content: "\e943";
  color: #fff;
}
.icon-linkedin:before {
  content: "\e942";
  color: #fff;
}
.icon-angular:before {
  content: "\e902";
  color: #dd0031;
}
.icon-apple:before {
  content: "\e903";
  color: #999;
}
.icon-archlinux:before {
  content: "\e904";
  color: #1793d1;
}
.icon-cloudflare:before {
  content: "\e905";
  color: #f38020;
}
.icon-codeigniter:before {
  content: "\e906";
  color: #ee4623;
}
.icon-crunchyroll:before {
  content: "\e907";
  color: #f47521;
}
.icon-css3:before {
  content: "\e908";
  color: #1572b6;
}
.icon-csswizardry:before {
  content: "\e909";
  color: #f43059;
}
.icon-d3-dot-js:before {
  content: "\e90a";
  color: #f9a03c;
}
.icon-debian:before {
  content: "\e90b";
  color: #a81d33;
}
.icon-deepin:before {
  content: "\e90c";
  color: #007cff;
}
.icon-deno:before {
  content: "\e90d";
}
.icon-discord:before {
  content: "\e90e";
  color: #7289da;
}
.icon-docker:before {
  content: "\e90f";
  color: #1488c6;
}
.icon-html5:before {
  content: "\e910";
  color: #e34f26;
}
.icon-jenkins:before {
  content: "\e911";
  color: #d24939;
}
.icon-jest:before {
  content: "\e912";
  color: #c21325;
}
.icon-jetbrains:before {
  content: "\e913";
}
.icon-jquery:before {
  content: "\e914";
  color: #0769ad;
}
.icon-meetup:before {
  content: "\e915";
  color: #ed1c40;
}
.icon-mega:before {
  content: "\e916";
  color: #d9272e;
}
.icon-microsoft:before {
  content: "\e917";
  color: #666;
}
.icon-microsoftazure:before {
  content: "\e918";
  color: #0089d6;
}
.icon-monero:before {
  content: "\e919";
  color: #f60;
}
.icon-mysql:before {
  content: "\e91a";
  color: #4479a1;
}
.icon-nativescript:before {
  content: "\e91b";
  color: #3655ff;
}
.icon-netflix:before {
  content: "\e91c";
  color: #e50914;
}
.icon-netlify:before {
  content: "\e91d";
  color: #00c7b7;
}
.icon-openssl:before {
  content: "\e91e";
  color: #721412;
}
.icon-pluralsight:before {
  content: "\e91f";
  color: #f15b2a;
}
.icon-postgresql:before {
  content: "\e920";
  color: #336791;
}
.icon-postman:before {
  content: "\e921";
  color: #ff6c37;
}
.icon-prestashop:before {
  content: "\e922";
  color: #df0067;
}
.icon-producthunt:before {
  content: "\e923";
  color: #da552f;
}
.icon-quora:before {
  content: "\e924";
  color: #b92b27;
}
.icon-react:before {
  content: "\e925";
  color: #61dafb;
}
.icon-reddit:before {
  content: "\e926";
  color: #ff4500;
}
.icon-redux:before {
  content: "\e927";
  color: #764abc;
}
.icon-rust:before {
  content: "\e928";
}
.icon-skype:before {
  content: "\e929";
  color: #00aff0;
}
.icon-snyk:before {
  content: "\e92a";
  color: #4c4a73;
}
.icon-stackoverflow:before {
  content: "\e92b";
  color: #fe7a16;
}
.icon-steam:before {
  content: "\e92c";
}
.icon-storybook:before {
  content: "\e92d";
  color: #ff4785;
}
.icon-stylus:before {
  content: "\e92e";
}
.icon-sublimetext:before {
  content: "\e92f";
  color: #ff9800;
}
.icon-svelte:before {
  content: "\e930";
  color: #ff3e00;
}
.icon-swagger:before {
  content: "\e931";
  color: #85ea2d;
}
.icon-tailwindcss:before {
  content: "\e932";
  color: #38b2ac;
}
.icon-teamviewer:before {
  content: "\e933";
  color: #0e8ee9;
}
.icon-ted:before {
  content: "\e934";
  color: #e62b1e;
}
.icon-tensorflow:before {
  content: "\e935";
  color: #ff6f00;
}
.icon-todoist:before {
  content: "\e936";
  color: #e44332;
}
.icon-tor:before {
  content: "\e937";
  color: #7e4798;
}
.icon-travisci:before {
  content: "\e938";
  color: #3eaaaf;
}
.icon-trello:before {
  content: "\e939";
  color: #0079bf;
}
.icon-typescript:before {
  content: "\e93a";
  color: #007acc;
}
.icon-visualstudio:before {
  content: "\e93b";
  color: #5c2d91;
}
.icon-visualstudiocode:before {
  content: "\e93c";
  color: #007acc;
}
.icon-vue-dot-js:before {
  content: "\e93d";
  color: #4fc08d;
}
.icon-xsplit:before {
  content: "\e93e";
  color: #0095de;
}
.icon-yarn:before {
  content: "\e93f";
  color: #2c8ebb;
}
.icon-youtube:before {
  content: "\e940";
  color: #f00;
}
.icon-zoom:before {
  content: "\e941";
  color: #2d8cff;
}

.extra-light:before {
  content: "\e980";
}
.extra-dark:before {
  content: "\e981";
}
.extra-th-menu:before {
  content: "\e900";
}

.router-link-exact-active {
    font-weight: bold !important;
}